body {
    background: hsl(180, 1%, 63%) !important;
}

.test{
    width: 80px;
    height: 80px;
    background: rgb(67, 108, 145);
}

.parent{
    display: grid;
    height: 100vh;
    place-items: center;
}