<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Service dashboard</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />
    <script src="/scripts/dashboard.js" defer></script>
  </head>
  <template>
    <li></li>
  </template>
  <body>
    <form
      class="invissible"
      th:action="@{/specialist/logout}"
      id="logout-form"
      method="post"
    >
      <input
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"
      />
    </form>
    <div class="parent-h">
      <div class="nav-cont">
        <div class="topnav">
          <a class="active" href="#" th:href="@{/dashboard/det}">Visists</a>
          <a href="#" th:href="@{/customer/myvisits}">My visits</a>
          <a href="#" th:href="@{/customer/book/det}">Book visit</a>
          <div class=""></div>
          <button class="ml-auto" type="submit" form="logout-form">
            Logaut
          </button>
        </div>
      </div>
      <div class="grid-2">
        <div class="grid-1 my-cell gr">Ongoing visits</div>
        <div class="grid-1 my-cell gr">Upcoming visits</div>
      </div>
      <div class="grid-4">
        <strong class="my-cell gr">Specialist name</strong>
        <strong class="my-cell gr">Current visistor</strong>
        <strong class="my-cell gr">Upcoming serial</strong>
        <strong class="my-cell gr">Specialist name</strong>
      </div>
      <div id="split-list" class="split-screen">
        <ul class="left">
          <li class="card-li">
            <strong class="my-cell">Specialist name</strong>
            <strong class="my-cell">Current visistor</strong>
          </li>
        </ul>
        <ul id="uplist" class="right">
          <li class="card-li">
            <strong class="my-cell">Next serial</strong>
            <strong class="my-cell">Specialist name</strong>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
