<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Service dashboard</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />
    <script src="/scripts/dashboard.js" defer></script>
  </head>
  <template>
    <li></li>
  </template>
  <body>
    <div class="parent-h">
      <div class="nav-cont">
        <div class="topnav">
          <a href="#home" th:href="@{/specialist/login}">Home</a>
          <a class="active" href="#" th:href="@{/dashboard/spec/det(sid=${specialist.id},s=${mysession})}">Visists</a>
          <a href="#"  th:href="@{/specialist/myvisits/det(sid=${specialist.id},s=${mysession})}">My visits</a>
          <div class=""></div>
          <a class="ml-auto" href="#" th:href="@{/}">Logaut</a>
        </div>
      </div>
      <div class="grid-2">
        <div class="grid-1 my-cell gr">Ongoing visits</div>
        <div class="grid-1 my-cell gr">Upcoming visits</div>
      </div>
      <div class="grid-4">
        <strong class="my-cell gr">Specialist name</strong>
        <strong class="my-cell gr">Current visistor</strong>
        <strong class="my-cell gr">Upcoming serial</strong>
        <strong class="my-cell gr">Specialist name</strong>
      </div>

      <div id="split-list" class="split-screen">
        <ul class="left">
          <li class="card-li">
            <strong class="my-cell">Specialist name</strong>
            <strong class="my-cell">Current visistor</strong>
          </li>
        </ul>
        <ul id="uplist" class="right">
          <li class="card-li">
            <strong class="my-cell">Next serial</strong>
            <strong class="my-cell">Specialist name</strong>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
