<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DigiQueue Home</title>
    <link href="/css/style.css" rel="stylesheet">
    <!-- CSS only -->
    <script src="/scripts/app.js" defer></script>
</head>
<body class="split-screen">
    <div class="left full">
        <a class="my-button child-center"
        style="color: deeppink;"
        onmouseover="this.style.color='midnightblue'; this.style.backgroundColor='violet'"
        onmouseout="this.style.color='deeppink'; this.style.backgroundColor='rgb(132, 154, 169)'"
        href="#"
        th:href="@{/customer/register}"
        >I am customer</a>
    </div>
    <div class="right full">
        <a class="my-button child-center"
        style="color:royalblue"
        onmouseover="this.style.color='midnightblue'; this.style.backgroundColor='moccasin'"
        onmouseout="this.style.color='royalblue'; this.style.backgroundColor='rgb(132, 154, 169)'"
        href="#"
        th:href="@{/specialist/login}"
        >I am specialist</a>
    </div>
</body>
</html>