<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My visits</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />
    <script src="/scripts/myvisit.js" defer></script>
  </head>
  <body>
    <form
      class="invissible"
      th:action="@{/specialist/logout}"
      id="logout-form"
      method="post"
    >
      <input
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"
      />
    </form>
    <div class="parent-h">
      <div class="topnav">
        <a href="#" th:href="@{/dashboard/det}">Visists</a>
        <a class="active" href="#" th:href="@{/customer/myvisits}">My visits</a>
        <a href="#" th:href="@{/customer/book/det}">Book visit</a>
        <div class=""></div>
        <button class="ml-auto" type="submit" form="logout-form">Logaut</button>
      </div>
      <div class="my-card">
        <div
          class="card-head my-cell"
          th:text="'Welcome: ' + |${customer.firstName}| + ' ' + |${customer.lastName}|"
        >
          My specialist appointments
        </div>
        <div class="card-vi">
          <strong class="my-cell">Specialist name</strong>
          <strong class="my-cell">Appointment time</strong>
          <strong class="my-cell">Time left</strong>
          <div class=""></div>
          <div class=""></div>
        </div>
        <ul>
          <li
            id=""
            th:id="list + |${visit.visitId}|"
            class="card-vi"
            th:each="visit : ${visits}"
          >
            <strong class="my-cell" th:text="${visit.specFullName}"
              >Specialist</strong
            >
            <strong class="my-cell" th:text="${visit.visitTimeString}"
              >Visit time</strong
            >
            <strong class="my-cell" th:text="${visit.timeLeft}"
              >Time left</strong
            >
            <div class=""></div>
            <a
              class="my-button"
              data-visit=""
              th:attr="data-visit=${visit.visitId}"
              onclick=""
              th:onclick="'cancelEvent(' + |${visit.visitId}| + ')'"
              >Cancel</a
            >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
