<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Specialist enter</title>
    <link href="/css/style.css" rel="stylesheet"/>
    <script src="/scripts/app.js" defer></script>
</head>
<body class="parent">
<div class="card" style="background: rgb(210, 212, 212)">
    <div class="card-head text-center" style="color: rgb(100, 120, 120)">
        Please enter your credentials
    </div>
    <form
            action="#"
            method="POST"
            th:acttion="@{/specregister}"
            th:object="${specialist}"
    >
        <div class="card-in">
            <div class="my-cell">
                <span class="my-cell">Your email</span>
            </div>
            <input
                    class="my-input"
                    id="email"
                    type="text"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    aria-placeholder=" "
                    th:field="*{email}"
            />
        </div>
        <div class="card-in">
            <div class="my-cell">
            <span class="my-cell"
            >Password</span
            >
            </div>
            <input
                    class="my-input"
                    id="pwd"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                    aria-placeholder=" "
                    type="password"
                    th:field="*{password}"
            />
        </div>
        <div th:if="not ${logged}" class="error">
            Given credentials is invalid
        </div>
        <div class="card-foot">
            <a class="my-button" href="#" th:href="@{/specialist/register}"
            >Register</a
            >
            <button class="my-button" type="submit">Enter</button>
        </div>
    </form>
</div>
</body>
</html>
